<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar (authorized)">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/taskAdmin1/}">Task admin 1</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div th:if="${authorized} == true" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/taskAdmin1/exit}">Выйти</a></li>
                    <li><a th:href="@{/taskAdmin1/secret}">Секретные данные</a></li>
                </ul>
            </div>
            <div th:if="${authorized} == false" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/taskAdmin1/login}">Вход</a></li>
                    <li><a th:href="@{/taskAdmin1/registration}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>