<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('CTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(authorized=${authorized})"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" th:text="'Приветствуем вас ' + ${user.login}"></h1>
        </div>
    </div>
</div>

</body>

</html>