<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('CTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(authorized=${authorized})"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" th:if="${admin} == true" th:text="'Доступ к секрету разрешен!'"></h1>
            <h1 class="text-center" th:if="${admin} == true" th:text="'Ваш секрет: ' + ${secret}"></h1>
            <h1 class="text-center" th:if="${admin} == false" th:text="'Доступ к секрету запрещен!'"></h1>
            <h1 class="text-center" th:if="${admin} == false" th:text="'Секрет доступен только для администратора!'"></h1>
        </div>
    </div>
</div>

</body>

</html>