<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('Вход')"></div>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1 text-center">Task Crypto 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Добро пожаловать Администратор!</h1>
            <h3 class="text-center" th:text="'Флаг: ' + ${flag}"></h3>
        </div>
    </div>
</div>

</body>

</html>