<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('Вход')"></div>
<style>
    .word {
        width: 70%;
        background: #f0f0f0;
        border: 1px solid #333;
        padding: 15px;
        margin: auto;
        font-size: 18px;
        word-break: break-all;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1 text-center">Task Crypto 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Добро пожаловать!</h1>
            <h3 class="text-center">Вы попали на страницу администратора, для того чтобы доказать что вы администратор, укажите свой публичный ключ!</h3>
            <h3 class="text-center" th:text="'Сообщение: ' + ${message}"></h3>
            <h3 class="text-center">Сигнатура:</h3>
            <p th:text="${sign}" class="word"></p>
        </div>
    </div>
</div>
<!--/*@thymesVar id="loginForm" type="ru.nikita.javaTasksForCTF.domain.dao.LoginUserDao"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!--<form th:object="${loginForm}" th:action="@{/login/}" method="post">-->
            <div th:if="${fail} == true" class="alert alert-danger" role="alert">Неверный публичный ключ</div>
            <form  th:action="@{/taskCrypto1}" method="post">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <!--<h1 class="panel-title">Заполните форму регистрации</h1>-->
                        </div>
                        <input type="hidden" th:value="${id}" name="id"/>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>E</label>
                                    <input type="text" name="e" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>N</label>
                                    <input type="text" name="n" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<center>
    <a class="word" th:href="@{/taskCrypto1/code}">Исходный код</a>
</center>



</body>

</html>